<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Add-Car-Button</title>
</head>
<body>
<section th:fragment="add-car-button" class="py-4 mb-4 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/addCar}" class="btn btn-dark btn-block">
                        <i class="fas fa-plus"></i> [[#{action.add-car}]]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>