<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
</head>
<body>
<header th:fragment = "header">
    <div align="center">
<h1>[[#{application.header}]]</h1>
    </div>
</header>

<footer th:fragment="footer">
    <form method = "POST" th:action = "@{/logout}">
        <br/><br/>
        <b>User:</b> <span sec:authentication="name">User Login</span>
        <br/>
        <a href="#" onclick="this.parentNode.submit();">Logout</a>
    </form>
    <br/>
    <p>[[#{application.footer}]]</p>
</footer>

</body>
</html>