
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/base-template :: head">
    <meta charset="UTF-8">
    <title>Cars List</title>
</head>
<body>

<header th:replace="layout/base-template :: header"/>
<section th:replace="layout/add-car-button :: add-car-button"></section>
<section th:replace="layout/cars-list :: cars-list"></section>

<br/>
<a th:href="@{/}">[[#{action.back}]]</a>
<br/>

<footer th:replace="layout/base-template :: footer"/>

</body>
</html>