<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base-template :: head">
    <meta charset="UTF-8">
    <title>Correct Registration</title>
</head>

<body>

<header th:replace="layout/base-template :: header"></header>
<blockquote class="blockquote text-center">
<h1>!Correct registration!</h1>
</blockquote>

<section th:fragment="create-account" class="py-4 mb-4 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a th:href="@{/login}" class="btn btn-primary btn-block">
                    <i class="fas fa-plus"></i> [[#{user.login}]]
                </a>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout/base-template :: footer"/>

</body>
</html>