<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base-template :: head">
    <title>Add User</title>
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="layout/base-template :: header"/>
<h2>[[#{add-account.title}]]</h2>
<a th:href="@{/}">[[#{action.back}]]</a>
<br/>
<form class="needs-validation" novalidate th:action="@{/signUp}" method="post" th:object="${user}">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <input type="hidden" name="userId" th:field="*{userId}"/>
            <label for="username">[[#{user.username}]]</label>
            <input type="text" name="username" th:field="*{username}" class="form-control" id="usernameValidation"
                   placeholder="Username" required>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="password">[[#{user.password}]]</label>
            <input type="password" name="password" th:field="*{password}" class="form-control" id="passwordValidation"
                   placeholder="Password" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Username Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="name">[[#{user.name}]]</label>
            <input type="text" name="name" th:field="*{name}" class="form-control" id="nameValidation"
                   placeholder="Name" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="lastName">[[#{user.last-name}]]</label>
            <input type="text" name="lastName" th:field="*{lastName}" class="form-control" id="lastNameValidation"
                   placeholder="LastName" required>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="address">[[#{user.address}]]</label>
            <input type="text" name="address" th:field="*{address}" class="form-control" id="addressValidation"
                   placeholder="Address" required>
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="city">[[#{user.city}]]</label>
            <input type="text" name="city" th:field="*{city}" class="form-control" id="cityValidation"
                   placeholder="City" required>
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="phone">[[#{user.phone}]]</label>
            <input type="text" name="phone" th:field="*{phone}" class="form-control" id="phoneValidation"
                   placeholder="Phone" required>
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="email">[[#{user.email}]]</label>
            <input type="text" name="email" th:field="*{email}" class="form-control" id="emailValidation"
                   placeholder="Email" required>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{address}">Email Error</span>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div th:if="${#fields.hasErrors('global')}">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
    </div>
    <br/>
    <input type="submit" name="signUp" value="Sign up"/>
</form>
<footer th:replace="layout/base-template :: footer"/>
</body>
</html>