<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/base-template :: head">
    <title>Cars Rental</title>
    <meta charset="UTF-8">
</head>

<body>

<header th:replace="layout/base-template :: header"/>

<section th:fragment="add-booking" class="py-4 mb-4 bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/usersList}" class="btn btn-dark btn-block">
                    <i class="fas fa-user-circle"></i> [[#{user.list}]]
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a th:href="@{/carsList}" class="btn btn-dark btn-block">
                    <i class="fas fa-car"></i> [[#{car.list}]]
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a th:href="@{/bookedList}" class="btn btn-dark btn-block">
                    <i class="fas fa-list-ol"></i> [[#{booked.search}]]
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <a th:href="@{/bookedByUser}" class="btn btn-dark btn-block">
                    <i class="fas fa-list-ol"></i> [[#{booked.byuser}]]
                </a>
            </div>
        </div>
    </div>
</section>


<footer th:replace="layout/base-template :: footer"/>

</body>

</html>